sudo: true
language: haskell

git:
  depth: 5

cabal: "head"

cache:
  directories:
  - "$HOME/.cabal/store"
  - "$HOME/.stack"
  - "$TRAVIS_BUILD_DIR/.stack-work"

matrix:
  include:

  # Cabal
  - ghc: 8.2.2
  - ghc: 8.4.4
  - ghc: 8.6.3

  # stack
  - ghc: 8.6.3
    env: STACK_YAML="$TRAVIS_BUILD_DIR/stack.yaml"

install:
  - |
    if [ -z "$STACK_YAML" ]; then
      ghc --version
      cabal --version
      cabal new-update
      cabal new-build --enable-tests --enable-benchmarks
    else
      # install stack
      curl -sSL https://get.haskellstack.org/ | sh

      stack --version
      stack setup --no-terminal
      stack ghc -- --version
      stack build --only-dependencies --no-terminal
    fi

script:
  - |
    if [ -z "$STACK_YAML" ]; then
       cabal new-test --enable-tests
    else
      stack build --test --no-terminal
    fi

notifications:
  email: false
  slack:
    rooms:
      - kowainik:PRNNEflDz8PUb9sM0Z45ARwB
    on_success: change
    on_failure: always
